<div class="card">
<h2 >New Workout</h2>
<form action="/myfitness/create">
  <input class="text-input" id="new-workout-description" name="workout_name" type="text" placeholder="Add a new workout...">
  <input class="text-input" id="new-time-estimate" name="time" type="number" placeholder="Time">
  <input class="text-input" id="new-body-description" name="description" type="text" placeholder="Part of the body...">
  <input class="button" type="submit" value="Submit">
</form>
<a href="/" class="simple-link">Go back...</a>
</div>
</div>